@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: "All pro";
  src: url("/fonts/All-ProSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "All pro Bold";
  src: url("/fonts/AllProDisplayB-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bold {
  font-family: "All pro Bold", sans-serif;
  color: #ffff;
}
.regular,
p {
  font-family: "All pro", sans-serif;
}
a {
  font-size: 1.5rem !important;
  padding: 10px;
  transition: 300ms ease-out;
  &.active {
    background-color: white;
    border: solid 0.5px #013369;
    color: #013369;
    border-radius: 5px;
  }
}
.scroll {
  scrollbar-width: 1px;
  scrollbar-color: white;
}

.scroll::-webkit-scrollbar {
  width: 3px;
  position: relative;
}

.scroll::-webkit-scrollbar-thumb {
  width: 20px;
  background-color: white;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
  position: relative;
  scrollbar-width: 1px;
  background-color: rgba(255, 255, 255, 0.308);
}

a,
p,
span,
div {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.first-place {
  background-color: #ffbd14;
  padding: 2px;

  color: black;

  text-align: center;
}

.second-place {
  background-color: #0029ff;
  padding: 2px;

  text-align: center;
}

.third-place {
  background-color: #ef1616;
  padding: 2px;

  text-align: center;
}
